# example accessusage_v2.conf file
# put this in one of the following:
#  INSTALL_DIR/etc/accessusage_v2.conf   (INSTALL_DIR is where accessusage lives)
#  /etc/accessusage_v2.conf
#  /var/secrets/accessusage_v2.conf
#
# This file should be owned by root:accessusage (change group to your equivalent)
# This file should be mode 0640 (NEVER world-readable)
#


# ACDB ResourceName from https://operations-api.access-ci.org/wh2/cider/v1/access-active/?format=html&sort=info_resourceid
resource_name     = <YOUR_ACDB_RESOURCE_NAME>
api_id            = <YOUR_ACDB_RESOURCE_NAME>
api_key           = <YOUR_API_KEY>

rest_url_base     = https://allocations-api.access-ci.org/acdb

# admins who can impersonate other users; one admin per line
admin_name = ssakai
#admin_name = someoneelse
#admin_name = anothersomeone
